body {
  background-color:#E5ADD3;
}
h1{
  color:#E52E5D;
}
p{
  color:#E52E5D;
font-family: "Dongle", sans-serif;
font-size:25px ;
}
a{
  color:#E52E5D;
}
.hero-image{
  width:100%;
  height:auto;
}
h1 {
  font-family: 'Adamina', serif;

}
