body {
  background-color:#E5ADD3;
}
h1{
  color:#E52E5D;
}
p{
  color:#E52E5D;
  font-family:"RocknRoll One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
a{
  color:#E52E5D;
}
.hero-image{
  width:100%;
  height:auto;
}
h1{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
}

